.bookContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
}

.searchImage {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px 40px 10px 0px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 5px;
  background-color: #EDEEC9;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.popupContent {
  margin: auto;
  background: rgb(152, 119, 119);
  width: 100%;
  padding: 5px;
}

.popupArrow {
  color: rgb(169, 72, 72);
}

.contentContainer {
  width: 50%;
  margin-bottom: 10px;
}

[role='tooltip'].popupContent {
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popupOverlay {
  background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].popupOverlay {
  background: transparent;
}

@media (max-width: 40rem) {
  .infoContainer {
    width: 100%;
  }
}

/* .authorAndButton {
  display: flex;

  justify-content: space-evenly;
} */