.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: burlywood;
    align-items: center;

}

.NavbarPadding {
    padding-left: 20%;
    padding-right: 20%;
}

.ImagePadding {
    margin-right: 20%;
}

.HamburgerMenu {
    margin-left: 20%;
}

.menuContainer {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%; 
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.3);
    color: white;
}

.menuContentContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 85%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: #EDEEC9;
}