.SurpriseMeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAF9F6;
    height: 100vh;
    
}

.surpriseMeErrorMsg {
    text-align: center;
    color: rgb(251, 72, 72);
}

.contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.BookImageContainer {
    width: 70%;
    height: 70%;
    max-width: 300px;
    border-radius: 5px;
    margin: 10px;
    border: 1px solid grey;
}

.descriptionContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 600px;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #EDEEC9;
    word-break: break-word;
}

.descriptionButtonContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
}

.descriptionTitle {
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.search {
    border: 1px solid #d3d5af;
    padding: 8px;
    border-radius: 5px;
    background-color: #EDEEC9;
    margin-bottom: 5px;
}

@media (max-width: 45rem) {
    .descriptionContainer {
        flex-direction: column;
        min-width: 300px;
        width: 80%;
    }
    .contentContainer {
        align-items: center;
        flex-direction: column;
    }
    .descriptButtonContainer {
        flex-direction: row;
    }
}