.SurpriseMeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAF9F6;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.subHeader {
    font-size: 1.2em;
    padding: 10px;
    margin-bottom: 10px;
}

.BookImageContainer {
    width: 70%;
    height: 70%;
    max-width: 300px;
    border-radius: 5px;
    margin: 10px;
    border: 1px solid grey;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #EDEEC9;
    word-break: break-word;
}

.descriptionButtonContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.descriptionTitle {
    font-size: 1.5em;
    padding: 10px;
}

.search {
    border: 1px solid #d3d5af;
    padding: 8px;
    border-radius: 5px;
    background-color: #EDEEC9;
    margin-bottom: 5px;
}

@media (max-width: 45rem) {
    .descriptionContainer {
        width: 80%;
    }
    .contentContainer {
        align-items: center;
flex-direction: column;
    }
    .descriptButtonContainer {
        flex-direction: row;
    }
}